<div class="row">
  <div class="col-xs-12 col-md-8">
    <h1 clss="d-flex justify-content-center">Онлайн-школа русского языка и литературы!</h1>
  </div>
</div>
<div style="float: right">авторизация</div>

<div class="row">
  <div class="col-xs-6 col-md-4">
    <ul class="nav flex-column">
      <li class="nav-item">
        <button routerLink="school"
                class="m-1 btn btn-light btn-outline-primary" Button>О школе</button>
      </li>
      <li class="nav-item">
        <button routerLink="course"
                class="m-1 btn btn-light btn-outline-primary" Button>Направления</button>

      </li>
      <li class="nav-item">
        <button routerLink="price"
                class="m-1 btn btn-light btn-outline-primary" Button>Цены</button>
      </li>
      <li class="nav-item">
        <button routerLink="vacancy"
                class="m-1 btn btn-light btn-outline-primary" Button>Вакансии</button>
      </li>
      <li class="nav-item">
        <button routerLink="edit"
                class="m-1 btn btn-light btn-outline-primary" Button>Редактирование</button>
      </li>
    </ul>
  </div>
  <div class="col-xs-6 col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">Контакты:</div>
</div>
