<!--<div class="container-xxl">
  <div class="row">
    <div class="col-md-auto text-center">
      <ng-container *ngIf="reg()">такое видит только зарегестрированный пользователь</ng-container>
      <h1 class="d-flex justify-content-center">Онлайн-школа русского языка и литературы!</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div style="float: left; margin-left: 20px">
        <app-account></app-account>
        <ul class="nav flex-column">
          <ng-container *ngIf="reg()">
            <li class="nav-item">
              <button routerLink="profile"
                      class="m-1 btn btn-light btn-outline-primary" Button>Личный кабинет</button>
            </li>
          </ng-container>
          <li class="nav-item">
            <button routerLink="school"
                    class="m-1 btn btn-light btn-outline-primary" Button>О школе</button>
          </li>
          <li class="nav-item">
            <button routerLink="course"
                    class="m-1 btn btn-light btn-outline-primary" Button>Направления</button>

          </li>
          <li class="nav-item">
            <button routerLink="price"
                    class="m-1 btn btn-light btn-outline-primary" Button>Цены</button>
          </li>
          <li class="nav-item">
            <button routerLink="vacancy"
                    class="m-1 btn btn-light btn-outline-primary" Button>Вакансии</button>
          </li>
          <li class="nav-item">
            <button routerLink="edit"
                    class="m-1 btn btn-light btn-outline-primary" Button>Редактирование</button>
          </li>
        </ul>
      </div>

    </div>

    <div class="col-xs-6 col-md-4">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">Контакты:</div>
  </div>
</div>-->

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1> Онлайн-школа русского языка и литературы</h1>
    </div>
  </div>
</div>

<div class="container my-3">
  <div class="row">
    <div class="col-md-2">
      <div class="d-grid gap-2">
        <app-account></app-account>
        <button routerLink="school" class="btn btn-outline-secondary" type="button">О школе</button>
        <button routerLink="course" class="btn btn-outline-secondary" type="button">Направления</button>
        <button routerLink="price" class="btn btn-outline-secondary" type="button">Цены</button>
        <button routerLink="vacancy" class="btn btn-outline-secondary" type="button">Вакансии</button>
        <button routerLink="edit" class="btn btn-outline-secondary" type="button">Редактирование</button>
      </div>
    </div>

    <div class="col-md-9 text-center">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-auto">
      Контакты:
    </div>
  </div>
</div>


