<div class="container">
  <h3 clss="d-flex justify-content-center">Online School App Demo!</h3>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <button routerLink="role"
              class="m-1 btn btn-light btn-outline-primary" Button>Role</button>
    </li>

    <li class="nav-item">
      <button routerLink="communication"
              class="m-1 btn btn-light btn-outline-primary" Button>Communication</button>
    </li>
  </ul>
  </nav>
<router-outlet></router-outlet>
</div>
