<!--
<app-show-price-info></app-show-price-info>
-->
<div class="container">
  <div class="row mx-3">
    <div class="row" style="background-color: gainsboro">
        Стоимость по направлениям:
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
    </div>
    <div class="col text-left">
      <div class="row">
        <b>ЕГЭ русский язык / литература</b>
      </div>
      <div class="row">
        <b>ОГЭ русский язык / литература</b>
      </div>
      <div class="row" >
        <b>РУССКИЙ ЯЗЫК (8 КЛ) + подготовка к ОГЭ</b>
      </div>
      <div class="row">
        <b>ИТОГОВОЕ СОЧИНЕНИЕ</b>
      </div>
      <div class="row">
        <b>УСТНОЕ СОБЕСЕДОВАНИЕ</b>
      </div>
    </div>
  </div>
  <div class="row my-6">
    <div class="col">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th> </th>
          <th style="font-weight: normal">Разовое <br> занятие</th>
          <th style="font-weight: normal">Абонемент <br>
            4 занятия</th>
          <th style="font-weight: normal">Абонемент <br>
            8 занятий</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th class="text-left" style="font-weight: normal">
            1 ученик
          </th>
          <th >
            1100
          </th>
          <th>
            4300
          </th>
          <th>
            8600
          </th>
        </tr>
        <tr>
          <th class="text-left" style="font-weight: normal">
            Группа 2 <br> ученика
          </th>
          <th>
            850
          </th>
          <th>
            3300
          </th>
          <th>
            6600
          </th>
        </tr>
        <tr>
          <th class="text-left" style="font-weight: normal">
            Группа 3 и более
          </th>
          <th>
            700
          </th>
          <th>
            2700
          </th>
          <th>
            5400
          </th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row my-5">

  </div>
  <div class="row mx-3">
    <div class="row" style="background-color: gainsboro">
      Стоимость по направлениям:
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
    </div>
    <div class="col text-left">
      <b>РУССКИЙ ЯЗЫК 5-7 КЛ</b>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th> </th>
          <th style="font-weight: normal">Разовое <br> занятие</th>
          <th style="font-weight: normal">Абонемент <br>
            4 занятия</th>
          <th style="font-weight: normal">Абонемент <br>
            8 занятий</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th style="font-weight: normal" class="text-left">
            1 ученик
          </th>
          <th>
            900
          </th>
          <th>
            3500
          </th>
          <th>
            7000
          </th>
        </tr>
        <tr>
          <th style="font-weight: normal" class="text-left">
            Группа 2 <br> ученика
          </th>
          <th>
            700
          </th>
          <th>
            2700
          </th>
          <th>
            5400
          </th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-7 text-left">
      <div class="row">
        <label>
          Длительность занятия – <b>75 мин.</b>
        </label>

      </div>
      <div class="row">
        <label>
          Стоимость групповых занятий указана для одного ученика.
        </label>
      </div>
      <div class="row">
        <label>
          Абонемент действителен в течение 30 дней с момента покупки.
        </label>
      </div>
    </div>
  </div>
</div>
