<ng-container *ngIf="authorization">
  <div style="width: 100%; background: #ededed; text-align: center">
  <span>
                            <span style="text-align: center">Авторизация</span>
                            <i class="fas fa-angle-up" style="margin-left: 5px;"></i>
  </span>
  <span>
                            <span class="form-group" style="width: 90%;">
                                <input type = "text" [(ngModel)]="user.UserName"
                                       name="UserName" #UserName="ngModel" class="form-control"
                                       placeholder="Логин"
                                        style="width: 90%; margin-left: 5%" />
                            </span>
                            <span class="form-group" style="width: 90%;">
                                <input type = "text" [(ngModel)]="user.Password"
                                       name="Password" #Password="ngModel" class="form-control"
                                       placeholder="Пароль"
                                       style="width: 90%; margin-left: 5%" />
                            </span>
                            <span class="form-group" style="width: 90%;">
                              <button type = "button" class = "btn btn-secondary" (click) = "onEnter()">Войти</button>
                            </span>

  </span>
</div>
</ng-container>
<ng-container *ngIf="registration">
  <div style="width: 100%; background: #ededed; text-align: center">
  <span>
                            <span style="text-align: center">Регистрация</span>
                            <i class="fas fa-angle-up" style="margin-left: 5px;"></i>
  </span>
    <span>
                            <span class="form-group" style="width: 90%;">
                                <input type = "text" [(ngModel)]="user.FirstName"
                                       name="FirstName" #FirstName="ngModel" class="form-control"
                                       placeholder="Имя"
                                       style="width: 90%; margin-left: 5%" />
                            </span>
                            <span class="form-group" style="width: 90%;">
                                <input type = "text" [(ngModel)]="user.LastName"
                                       name="LastName" #LastName="ngModel" class="form-control"
                                       placeholder="Фамилия"
                                       style="width: 90%; margin-left: 5%" />
                            </span>
                            <span class="form-group" style="width: 90%;">
                                <input type = "text" [(ngModel)]="user.UserName"
                                       name="UserName" #UserName="ngModel" class="form-control"
                                       placeholder="Логин"
                                       style="width: 90%; margin-left: 5%" />
                            </span>
                            <span class="form-group" style="width: 90%;">
                                <input type = "text" [(ngModel)]="user.Password"
                                       name="Password" #Password="ngModel" class="form-control"
                                       placeholder="Придумайте пароль"
                                       style="width: 90%; margin-left: 5%" />
                            </span>

                            <span class="form-group" style="width: 90%;">
                                <input type = "text" [(ngModel)]="user.Email"
                                       name="Email" #Email="ngModel" class="form-control"
                                       placeholder="Эл. почта"
                                       style="width: 90%; margin-left: 5%" />
                            </span>

  </span>
  </div>
</ng-container>
<ng-container *ngIf="exit">{{user.FirstName}} {{user.LastName}}<br>
  <span class="form-group" style="width: 90%;">
                              <button type = "button" class = "btn btn-danger" (click) = "onExit()">Выйти</button>
                            </span></ng-container>
