<!--<div class="container">
  <div class="form-Group row">
    <h3>Оставить заявку на обучение</h3>
    <label class="col-sm-2 col-form-label">Имя</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="FirstName"
             placeholder="Введите имя">
    </div>

    <label class="col-sm-2 col-form-label ">Направление подготовки: </label>
    <div class="col-sm-10">
      <select [(ngModel)]="Name">
        <option *ngFor="let dataItem of CourseList">{{dataItem.Name}}</option>
      </select>
    </div>

    <label class="col-sm-2 col-form-label">Контактный телефон:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="MobilePhone"
             placeholder="Введите номер телефона">
    </div>

    <label class="col-sm-2 col-form-label">Способ связи:</label>
    <div class="col-sm-10">
      <select  [(ngModel)]="CommunicationName">
        <option *ngFor="let dataItem2 of CommunicationList">{{dataItem2.CommunicationName}}</option>
      </select>
    </div>

    <button type="button" class="btn btn-primary float-right m-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
            data-backdrop="static" data-keyboard="false" (click)="SendRequest()">
      Отправить заявку
    </button>

  </div>
</div>-->
<div class="container-xxl">
<div class="container">
  <div class="row">
    <div class="col">
<p  style="white-space:pre-wrap">{{SchoolAbout}}</p>
    </div>
  </div>
  <div class="row">
    <h3>Оставить заявку на обучение</h3>
  </div>
</div>

<div class="container">

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Имя</label>
      <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="FirstName">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail2" class="form-label">Email</label>
      <input type="text" class="form-control" id="exampleInputEmail2" [(ngModel)]="Email">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail3" class="form-label">Номер телефона</label>
      <input type="text" class="form-control" id="exampleInputEmail3" [(ngModel)]="MobilePhone">
    </div>

    <div class="mb-3">
      <label> Направление подготовки</label>
      <select class="form-select" aria-label="Default select example"  [(ngModel)]="Name">
        <option *ngFor="let dataItem of CourseList">{{dataItem.Name}}</option>
      </select>
    </div>

    <div class="mb-3">
      <label> Выберите удобный для вас способ связи </label>
      <select class="form-select" aria-label="Default select example"  [(ngModel)]="CommunicationName">
        <option *ngFor="let courseItem of CommunicationList">{{courseItem.CommunicationName}}</option>
      </select>
    </div>


    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal"
            data-backdrop="static" data-keyboard="false" (click)="SendRequest()">
      Отправить заявку
    </button>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">На вашу почту отправлен пароль для подтверждения заявки</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-add-edit-request [request]="request" ></app-add-edit-request>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
